  <div class="background">
  <div class="container">
    <img class="logo" src="https://crystalpower.in/Images/Assets/crystal-power-logo.svg" alt="Logo">
    <br>
    <h1>
      Welcome to Crystal Power,<br>
      Admin Portal
    </h1>
    <form>
      <label class="email">Email Address</label>
      <input type="email">
      <br>
      <label class="password">Password</label>
      <input type="password">
      <br>
      <label class="checkbox"><input class="checkbox" type="checkbox"> Remember me</label>
      <button (click)="onLogin" >Login</button>
    </form>
  </div>
</div>
